body {
    background-color: teal;
    margin: 0;
    padding: 0;
    margin-right: 1px;
}

p {
    margin: 4px 0;
}

.main-menu {
  display: flex;
}

.hide-section {
    display: none;
}

@mixin change-background($imageLink, $zIndex) {
    background-image: url($imageLink);
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    z-index: $zIndex;
}

.king-dedede {
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  width: 200px;
}

ul {
  list-style: none; 
}

.stats {
  width: 100%;
  margin-left: 100px;
 letter-spacing: 0.2px;
  
}
.stats ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  background-color: silver;
  border-bottom-left-radius: 35px;
  border: 1px solid salmon;
  border-right: none;
  color: #111;
}

.list-btn li {
  background-color: aquamarine;
  width: 120px;
  font-size:20px;
  text-align: center;
  border: 1px solid lightgrey;
  letter-spacing: 0.5px;
  box-shadow: 0px 2px 0 lightblue, 2px 4px 6px lightblue;
}

.list-btn li:hover {
  cursor: pointer;
  background-color: rgb(105, 231, 105);
  border: 1px solid lightgray;
  box-shadow: 0px 2px 0 rgb(158, 208, 224), 2px 4px 6px rgb(158, 208, 224);
}

// Start page
#start-page{
    #start-background {
        @include change-background("../images/start.jpg", -1);
    }

    #play-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        #play {
            width: 150px;
            cursor: pointer;
            animation-name: "remove";
        }
    }
}
// End start page

// Remove start section
.remove-background {
    opacity: 0;
    transition: all 2s;
    animation-name: remove;
    animation-delay: 2s;
}

@keyframes remove {
    from {display: block;}
    to {display: none;}
}
// End remove start page

.kirby {
    width: 150px;
    position: absolute;
    top: 340px;
    left: 680px;
}

.kirby-fight {
    background-image: url("../sprites/kirby2.png");
    position: absolute;
    top: 320px;
    left: 70px;
    width: 70.45px;
    height: 46px;
    animation: yo 1.5s 1 steps(9);

}

@keyframes yo {
   from {
       background-position-x: 0px;
   }
   to {
        background-position-x: -634px;
   }
}





// TEST

// @keyframes translate {
//     to {
//         left: 90%;
//     }
// }

// END TEST

// House page
#house {
    #house-background {
        @include change-background("../images/kirby_house.png", -2);
    }
    
    .bub1 {
        position: absolute;
        top: 180px;
        left: 520px;
        width: 200px;
        text-align: justify;
      }
}

// End house page

// Arena Page
#arena-background {
    @include change-background("../images/arena.jpg", -3);
}

#metal-knight {
  background-image: url("../images/foe.png");
  position: absolute;
  top: 300px;
  left: 700px;
  background-size: 200px 100%;
  background-position: center;
  height: 100px;
  width: 100px;
  border: 5px solid lightgray;
  background-color: rgba(0,0,0,0.7);
  opacity: 0.95;
}

#metal-knight:hover {
    cursor: pointer;
    opacity: 1;
}

.metal-knight-scene {
    display: flex;
}

.metal-knight-scene input {
    
}

#king-dedede {
    background-image: url("../images/king-dedede.png");
    background-size: 100%;
    background-position: center;
    height: 200px;
    width: 207px;
    position: absolute;
    top: 95px;
    left: 700px;
    border: 5px solid lightgray;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.95;
}

#king-dedede:hover {
    cursor: pointer;
    opacity: 1;
}

#whispy-woods {
    background-image: url("../images/whispy-woods.png");
    background-size: 100%;
    background-position: center;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 300px;
    left: 807px;
    border: 5px solid lightgray;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.95;
}
#whispy-woods:hover {
    cursor: pointer;
    opacity: 1;
}
.fight-scene {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: blue;
    height: 100px;
    width: 100%;
    border-top: 2px solid red;
}
// End Arena Page

// Shop Page
#shop-background {
    @include change-background("../images/shop.jpg", -4);
}
// End Shop Page