body {
    background-color: teal;
    margin: 0;
    padding: 0;
}

.hide-section {
    display: none;
}

@mixin change-background($imageLink, $zIndex) {
    background-image: url($imageLink);
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    z-index: $zIndex;
}
.listBtn{
  list-style: none;
}

.listBtn li:hover {
  cursor: pointer;
}

// Start page
#start-page{
    #start-background {
        @include change-background("../images/start.jpg", -1);
    }

    #play-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        #play {
            width: 150px;
            cursor: pointer;
            animation-name: "remove";
        }
    }
}
// End start page

// Remove start section
.remove-background {
    opacity: 0;
    transition: all 2s;
    animation-name: remove;
    animation-delay: 2s;
}

@keyframes remove {
    from {display: block;}
    to {display: none;}
}
// End remove start page

.kirby {
    width: 150px;
    position: absolute;
    top: 340px;
    left: 680px;
}

.kirby-fight {
    background-image: url("../sprites/kirby2.png");
    width: 70.45px;
    height: 46px;
    animation: yo 1.5s 1 steps(9);

}

@keyframes yo {
   from {
       background-position-x: 0px;
   }
   to {
        background-position-x: -634px;
   }
}





// TEST

// @keyframes translate {
//     to {
//         left: 90%;
//     }
// }

// END TEST

// House page
#house {
    #house-background {
        @include change-background("../images/kirby_house.png", -2);
    }
    
    .bub1 {
        position: absolute;
        top: 180px;
        left: 520px;
      }
}

// End house page

// Arena Page
#arena-background {
    @include change-background("../images/arena.jpg", -3);
}
// End Arena Page

// Shop Page
#shop-background {
    @include change-background("../images/shop.jpg", -4);
}
// End Shop Page